[submodule "app"]
	path = app
	url = https://github.com/AIT-brainlab/AITGPT-APP
[submodule "compliance-checking"]
	path = compliance-checking
	url = https://github.com/AIT-brainlab/AITGPT-compliance-checking
