[submodule "AITGPT-APP"]
	path = AITGPT-APP
	url = https://github.com/AIT-brainlab/AITGPT-APP.git
[submodule "compliance-checking"]
	path = compliance-checking
	url = https://github.com/AIT-brainlab/AITGPT-compliance-checking
